//Colores
$Black: #473f34;
$color-fondo: #f6e8b1;
$beige: #f0e7c6;
$verde-logo: #365c19;
$verde-goblin: #979f34;
$verde-lima: #b7ca79;
$verde-oscuro: #677e52;
$verde-acento: #b3b792;
$Marron-oscuro: #1c3d19;
$Marron-intermedio: #cfbb99;
$Marron-clarito: #e5d7c4;
$falso-blanco: #e5e0d8;
$verde-triada: #8c9657;

//Tipografía
$fuente1: "VT323", monospace;
$fuente2: "tagesschrift";

