/* Paleta de colores del sitio */
:root {
  --Black: #473f34;
  --color-fondo: #f6e8b1;
  --verde-lima: #b7ca79;
  --verde-oscuro: #677e52;
  --verde-acento: #b3b792;
  --Marron-oscuro: #1c3d19;
  --Marron-intermedio: #cfbb99;
  --Marron-clarito: #e5d7c4;
  margin: 0px;
}

/* Grupo de tipografías */
:root {
  --fuente1: "VT323", monospace;
  --fuente2: "tagesschrift";
}

/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  background-color: #e5d7c4;
  display: flex;
  flex-direction: column;
}

/* Encabezado------------------------------------------------------------------------------------------------------- */
header {
  background-color: var(--verde-acento);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-container img {
  width: 100px;
  height: auto;
  font-size: 2.5rem;
}

h1 {
  font-family: var(--fuente2);
  font-weight: 400;
  font-style: bold;
  color: var(--verde-oscuro);
  margin: 0;
  font-size: 2.5rem;
}

/* Menú -----------------------------------------------------------------------------------------------------*/
nav {
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  gap: 2rem;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: var(--Marron-oscuro);
  font-family: var(--fuente2);
  font-size: 1.2rem;
  display: inline-block;
  /* Añadido para que el transform funcione */
  transition: all 0.3s ease;
  /* Añadido para suavizar todas las transiciones */
}

nav a:hover {
  color: var(--verde-oscuro);
  text-decoration: underline;
  transform: scale(1.05);
}

.AvatarBaseUsuario {
  width: 60px;
  height: 60px;
}
 /* MenuDeslizable Conectado------------------------------------------------------------------------------------------------------------------------- */
 .menuUsuarioConectado {
  position: relative; /* Necesario para posicionar el submenu */
  display: inline-block; /* Permite que el menú sea una línea */
}

.menu-item {
  display: block; /* Asegura que el enlace ocupe todo el área */
  padding: 10px 15px; /* Espacio interior para el texto */
  background-color: #f2f2f2; /* Color de fondo */
  color: #333; /* Color del texto */
  text-decoration: none; /* Elimina el subrayado */
}

.submenu {
  display: none; /* Inicialmente oculto */
  position: absolute; /* Posicionamiento absoluto para el submenu */
  background-color: #fff; /* Color de fondo del submenu */
  border: 1px solid #ccc; /* Borde del submenu */
  padding: 5px; /* Espacio interior del submenu */
  z-index: 1; /* Asegura que el submenu esté por encima */
}

.menu-item:hover {
  background-color: #ddd; /* Cambio de color al pasar el cursor */
}

.menu:hover .submenu {
  display: block; /* Muestra el submenu al pasar el cursor sobre el menú */
}
 /* MenuDeslizable Desconectado------------------------------------------------------------------------------------------------------------------------- */

/* animacion decoraciones */
@keyframes float {
  0% {
    transform: translateY(0) rotate(0deg);
  }

  50% {
    transform: translateY(-20px) rotate(10deg);
    /*  rotate, el valor de rotación, translate como se mueve en Y */
  }

  100% {
    transform: translateY(0) rotate(0deg);
  }
}

.floating-leaf {
  position: absolute;
  animation: float 3s ease-in-out infinite;
}

/* regula tamaño decoraciones */
.floating-leaf img {
  width: 80px;
  height: auto;
}

.leaf-1 {
  top: 10%;
  left: 10%;
  animation-delay: 0s;
}

.leaf-2 {
  top: 20%;
  right: 15%;
  animation-delay: 1s;
}

.leaf-3 {
  bottom: 15%;
  left: 20%;
  animation-delay: 2s;
}

/* Sección de bienvenida ---------------------------------------------------------------------------------------*/
#mensaje-de-bienvenida {
  width: 100%;
  margin: 100px auto 150px auto;
}

.container-bienvenida {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 880px;
  height: 700px;
  background-color: var(--Marron-intermedio);
  margin: auto;
}
/* cartel bienvenida */
.text-content {
  justify-content: left;
height: auto;
width: auto;
}
.banner-title {
  background-color: var(--Black);
  border-radius: 8px;
  width: 600px;
  height: 100px;
  align-content: center;
  margin-top: 30px;
  border-radius: 0px 18px 18px 0px;
}
.banner-title h2 {
  font-family: var(--fuente2);
  color: var(--Marron-clarito);
  text-align: left;
  padding-left: 20px;
}
.p-container {
  border-radius: 26px;
  background-color: var(--Marron-intermedio);
}
.text-content p {
  font-family: var(--fuente2);
  color: var(--Black);
  margin: auto;
  height: auto;
  width: 200px;
  position: relative;
}

.goblinlandingpage1 {
  width: 60px;
  height: auto;
  position: relative;
  margin-left: -20px;

}
/* Boton de log in pop up ------------------------------------------------------------------------------------------------------------------------------ */
button {
  background-color: var(--verde-lima);
  border-width: 1px;
  border-color: #365746;
  padding: 1rem 2rem;
  font-size: medium;
  font-family: var(--fuente2);
  color: var(--Marron-oscuro);
  cursor: pointer;
  border-radius: 4px;
  width: auto;
  display: inline-block;
  /* Añadido para que el transform funcione */
  transition: all 0.3s ease;
  /* Añadido para suavizar todas las transiciones */
}

button:hover {
  background-color: var(--verde-oscuro);
  color: var(--color-fondo);
  transform: scale(1.05);
}


/* Estilos para el botón "Comenzar ahora" */
.start-button {
  background-color: #416d54;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.start-button:hover {
  background-color: #365746;
}

/* Estilos para el modal */
.login-modal {
  display: none; /* Oculto por defecto */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  overflow: auto;
}

.close-modal {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 28px;
  color: #416d54;
  cursor: pointer;
}

/* Centra el contenedor de login en el modal */
.login-container {
  position: relative;
  margin: 10% auto;
  max-width: 400px;
  background-color: #f8e8c0;
  border-radius: 15px;
  padding: 20px;
  border: 5px solid #416d54;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* FIN Boton de log in pop up ------------------------------------------------------------------------------------------------------------------------------ */

/* Sección de sponsors ------------------------------------------------------------------------------------------------------------------------------*/

.BannerSponsors {

  width: 100%;
  height: 180px;
  background-color: var(--verde-oscuro);
  font-family: var(--fuente2);
  font-size: medium;
  color: var(--Marron-clarito);
  margin: auto;
  text-align: center;
}

.supporters-logos {
  flex-direction: row;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
  padding: 2rem;
  position: relative;
}


.sponsorIngenias img{
  width: 100px;
  height: 100px;
  margin: auto;
 
}

.sponsorIngeniasoft:hover {
  transform: scale(1.1);
}

.sponsorlogo2 img {
  width: 100px;
  height: 100px;
 
}
.sponsorlogo3 img {
  width: 100px;
  height: 100px;

}

/* Sección como funciona------------------------------------------------------------------------------------------------------------------------------*/
.comofunciona {
  width: 100%;
  height: 660px;
 }
.comofunciona h2 {
  font-family: var(--fuente2);
  text-align: center;
  color: var(--verde-oscuro);
  margin-top: 160px;
}
.comofunciona-container {
  display: flex;
  align-items: center;
  padding: 2rem;
  justify-content: space-between;
  border-radius: 8px;
  margin: 30px;
  max-width: 100%;
  font-family: var(--fuente2);
}
.comofunciona-container img {
 width: 86px;
 height: auto; 
}
.comofunciona-container div {
  background-color: var(--verde-acento);
  width: 300px;
  height: 200px;
  margin: 30px;
  border-radius: 16px;
  padding: 30px;
  text-align: center;
}

.comofunciona-container div:hover {
  background-color: var(--verde-oscuro);
  color: var(--color-fondo);
  transform: scale(1.05);
}
/* ¿Porqué unirte a nuestra comunidad?------------------------------------------------------------------------------------------------------------------------------*/
.comunidad {
  font-family: var(--fuente2);
  text-align: center;
  background-color: var(--verde-lima);
  align-content: center;

}

.comunidad-CONTAINER {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  background-color: var(--color-fondo);
  border-radius: 20px;
  width: 1200px;
  margin: 50px auto;
  padding: 60px;


}

/* Testimonios------------------------------------------------------------------------------------------------------------------------------*/

.testimonios {
  
  font-family: var(--fuente2);
  text-align: center;
  margin-top: 100px;
  margin-bottom: 180px;
}


.testimonios-container {
  display: flex;
  align-items: center;
  padding: 2rem;
  border-radius: 8px;
  margin-top: 320px;
justify-content: space-around;
}
.testimonios-container p {
  padding: 0px 36px 60px 36px;
}
/* User 1 ------------------*/
.Usuario1  {
background-color: #365746;
margin-top: -300px;
border-radius: 30px 30px 0px 0px;
width: 300px;
height: 200px;
border-width: 3px;
border-color: #677e52;
border-style: solid;
}
.Usuario1:hover {
  transform: scale(1.05);
}
.Usuario1 img {
  margin-top: -40px;
  width: 80px;
  height: auto;
}
.userfondo {
  background-color: var(--Marron-clarito);
  border-width: 3px;
  border-color: #677e52;
  border-style: solid;
  border-radius: 0px 0px 30px 30px;
  margin-top: 66px;
  width: 300px;
  height: 200px;
}
/* User 2----------------- */
.Usuario2 img {
  width: 80px;
  height:auto;
  margin:auto;
  margin-top: -40px;
}
.Usuario2:hover {
  transform: scale(1.05);
}
.Usuario2  {
  background-color: #365746;
margin-top: -300px;
border-radius: 30px 30px 0px 0px;
width: 300px;
height: 200px;
border-width: 3px;
border-color: #677e52;
border-style: solid;
  }
  /* User 3------------------ */

  .Usuario3 img {
  width: 80px;
  height: auto;
  margin: auto;
  margin-top: -40px;
}
.Usuario3:hover {
  transform: scale(1.05);
}

.Usuario3  {
  background-color: #365746;
  margin-top: -300px;
  border-radius: 30px 30px 0px 0px;
  width: 300px;
  height: 200px;
  border-width: 3px;
  border-color: #677e52;
  border-style: solid;
  }

/* footer-------------------------------------------------------------------------------------------------------------------------------*/
.pie-de-pagina {
  /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 10px;
  background-color: var(--Black);
  width: 100%;
  font-family: var(--fuente1);
  color: var(--color-fondo);
}

.descripcionPagina h3 {
  color: var(--color-fondo);
}
.descripcionPagina div {
width: auto;
color: var(--color-fondo);
}
.descripcionPagina p{
  width: auto;
    color: var(--color-fondo);
  }
.footerMenu {
  display: flex;
  font-family: var(--fuente1); 
  justify-content: space-around;
  background-color: var(--Black);
  margin: auto;
}

.footerMenu li {
  list-style-type: none;
  margin: 10px 0px 5px 0px;
}

.footerMenu ul {
  margin: 0;
  padding: 0;
  text-align: left;
  color: var(--color-fondo);
}

.footerMenu a {
  font-family: var(--fuente1);
  color: var(--color-fondo);
  text-decoration: none;
  padding: 10px 15px;
}

.footerMenu a:hover {
  text-decoration: underline;
}

.footerMenu h3{
  text-align: left;
  padding-left: 10px;
}
#copyright {
  color: var(--color-fondo);
  font-family: var(--fuente1);
  text-align: center;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 30px;

}
