/* Paleta de colores del sitio */
:root {
  --Black: #473f34;
  --color-fondo: #f6e8b1;
  --verde-lima: #b7ca79;
  --verde-oscuro: #677e52;
  --verde-acento: #b3b792;
  --Marron-oscuro: #1c3d19;
  --Marron-intermedio: #cfbb99;
  --Marron-clarito: #e5d7c4;
  margin: 0px;
}

/* Grupo de tipografías */
:root {
  --fuente1: "VT323", monospace;
  --fuente2: "tagesschrift";
}
/* ENCABEZADO WEB INTERCAMBIOS----------------------------------------- */
.intercambio-encabezado {
  background-color: var(--verde-oscuro);
  width: 100%;
  height: 290px;
  display: flex;
  flex-direction: row;
}

.intercambio-encabezado h2 {
  color: var(--Marron-clarito);
  font-family: var(--fuente2);
  margin: 100px 0 30px 360px;
  font-weight: normal;
  font-size: 32px;
}

.intercambio-encabezado p {
  color: var(--Marron-clarito);
  font-family: var(--fuente2);
  margin: 0px 0 42px 360px;
}
.contador-ecologico {
  background-color: var(--Black);
  width: 380px;
  height: 66px;
  border-radius: 32px;
  margin: 130px 0 0 360px;
}
.contador-ecologico p {
  font-family: var(--fuente1);
  color: beige;
  font-size: 30px;
  font-weight: normal;
  margin: auto;
  padding: 18px;
  text-align: center;
}
.buscador {
  background-color: var(--verde-lima);
  width: 300px;
  height: 60px;
  border-radius: 90px;
  opacity: 60%;
  margin: 20px 0px 0px 1500px;
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.1);
}
.buscador img {
  width: 40px;
  height: auto;
  margin: -90px 0px 0px 240px;
}
.buscador input {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--Black);
  font-family: var(--fuente1);
  font-size: 22px;
  margin: 18px 0px 0px 20px;
}

/* Plantilla Oferta que debe ir dentro de GRid---------------------------------*/

/* sección de la grid con todas las ofertas disponibles---------------------- */

/* grilla*/
.ofertas-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 5 columnas de igual tamaño */
  grid-template-rows: repeat(3, auto); /* 3 filas que se ajustan al contenido */
  height: auto;
  width: 1000px;
  row-gap: 50px;
  column-gap: 8px;
  align-items: center; /* eje vertical de las celdas */
  justify-items: center;/* contenido dentro de las celdas */
  margin: 0 auto; /* centra el grid dentro del contenedor padre */
}

/* Estilo común para todos los elementos del grid */
.ofertas-grid > div {
  background-color: var(--verde-acento);
  height: 300px;
  width: 200px;
  border-radius: 44px;
  padding: 0px;

}

/* Efectos de los item grilla------------------------------------------------------------------------------*/
.grid-item {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

/* Efecto al pasar el cursor */
.grid-item:hover {
  transform: scale(1.05);
  z-index: 5;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
